<ion-content padding>
	
	<form>
		<ion-list>
			<ion-item>
				<ion-label color="primary">Write Todo</ion-label>
				<ion-input placeholder="Write Here.." [(ngModel)]="newTodo.title" clearInput [ngModelOptions]="{standalone: true}" ngController="title" name="title"></ion-input>
			</ion-item>
		</ion-list>
		<button ion-button type="submit" secondary (click)="submitTodo()">Add Todo2</button>
	</form>

	
	<ul>
		<li *ngFor="let todo of todos | async">
			{{todo.title}}
		</li>
	</ul>
</ion-content>