<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Ionic Menu Starter</h3>

  <p>
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will show you the way.
  </p>

  <p *ngIf="user">
    Logged In as: <strong>{{user.displayName}}</strong>
  </p>
  <p *ngIf="!user"><strong>Not Logged In</strong></p>

  <button ion-button secondary menuToggle>Toggle Menu</button>
  <button ion-button block color="danger" (click)="loginGoogle()" *ngIf="!user">
    <ion-icon name="logo-googleplus"></ion-icon> 
    Login with Google
  </button>

  <button ion-button secondary (click)="logout()" *ngIf="user">Logout</button>
</ion-content>
